.hero{
    background-image: linear-gradient(
        to right,
        rgba(200, 192, 203, 0.5),
        rgba(255, 255, 200, 0.2)
      );
}
header{
    display: flex;
    width: 1100px;
    height: 44px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.logo{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    color: #0065fe;
}
.nav {
    display: flex;
    flex: 3 100px;
    justify-content: center;
    align-items: center;
    gap: 50px
}
.login{ 
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.login-link{
    text-decoration: none;
}
.button{
    background-color: #0065fe;
    border: 1px;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 10px 25px;

}

.opt{
 /*display: flex;
width: 948px;
height: 150px;
flex-direction: column;
flex-shrink: 0;*/

color: #141414;
text-align: center;
font-size: 48px;
font-family: 'Gilroy-Bold', sans-serif;
line-height: 96px;
}
.slant-line{
width: 173.63px;
height: 19.908px;
text-align: center;
position: absolute;
top: 270px;
left: 40%;
padding: 20px;
}
.url{
color: #005AE2;
}
.personalize{
color: #141414;
text-align: center;
font-size: 18px;
font-family: Gilroy-Medium;
line-height: 28px;
}
.signup-button{
    background-color: #0065fe;
    border: 1px;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 10px 25px;
}
.signup{
    display: flex;
    align-items: center;
    gap: 56px;
    justify-content: center;
}
#signup{
    color: #0065FE;
    font-size: 16px;
    font-family: 'Gilroy-SemiBold', sans-serif;
}
.group2{
    text-align: center;
}
.desktop-10{
    margin: 0;
    padding: 0;
}
.possibilities{
display: inline-flex;
padding: 60px 140px;
justify-content: flex-start;
align-items: center;
gap: 120px;
background: #F9FBFD;
}
.possibilities1{
display: flex;
align-items: flex-start;
text-align: left;
gap: 10px;
color: #141414;
font-size: 38px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 48px;
}
.number{
display: flex;
justify-content: flex-end;
align-items: center;
gap: 72px;
}
.number1{
display: flex;
padding: 0px 4px;
justify-content: center;
align-items: flex-start;
gap: 72px;
}
.pp{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
color: #141414;
font-size: 16px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 12px;
}
#pps{
color: #141414;
font-size: 32px;
font-family: "Gilroy-SemiBold", sans-serif;
line-height: 20px;
}
.choose{
display: flex;
align-items: flex-start;
gap: 96px;
padding: 60px 140px;
}
.why{
    gap: 16px;
}
.darkline{
    height: 35px;
}
#heading{
color: #141414;
font-size: 40px;
font-family: "Gilroy-Bold", sans-serif;
line-height: 32px;
}
.scissorsp{
display: flex;
width: 370px;
height: 192px;
flex-direction: row;
color: #141414;
font-size: 16px;
font-family: "Gilroy-Medium", sans-serif;
line-height: 28px;
}
.service{
    flex-direction: column;
    max-width: 100%;
}
.service1{
display: inline-flex;
align-items: flex-start;
justify-content: flex-start;
gap: 62px;
}
.urlp1{
color: #141414;
font-size: 32px;
font-family: "Gilroy-SemiBold", sans-serif;
line-height: 28px;
}
.urlp2{
display: flex;
width: 330px;
height: 80px;
flex-direction: column;
color: #141414;
font-size: 16px;
font-family: Gilroy-Medium;
line-height: 24px;
}
.service2{
display: inline-flex;
align-items: flex-start;
gap: 62px;
}
.desktop1{
padding-top: 42px;
  padding-bottom: 112px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  background: #fff;
  flex-direction: column;
  align-items: center;
  gap: 68px;
}
.desktop1 > .header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .desktop1 > .header > .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .desktop1 > .header > .text > .desktop1-header {
    color: #141414;
    text-align: center;
    font-size: 40px;
    font-family: "Gilroy-Bold", sans-serif;
    line-height: 48px;
    flex-direction: row;
  }
  
  .desktop1 > .header > .text > .desktop1-headtext {
    display: flex;
    width: 556px;
    flex-direction: column;
    color: #141414;
    text-align: center;
    font-size: 16px;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 24px;
  }
  .desktop1 > .header > .text > .desktop1-header > .text-style {
    color: rgb(0, 101, 255)
  }
  .desktop1 > .price-options {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5px;
  }
  
  .desktop1 > .price-options > .price-option {
    display: flex;
    overflow: hidden;
    width: 30rem;
    padding: 95px 106px 148px 65px;
    border-radius: 12px;
    border: 0.4px solid #0065fe;
    background-color: #ffffff;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #141414;
    transition: color 0.4s ease;
    cursor: pointer;
  }
  
  .desktop1 > .price-options > .price-option:hover {
    padding: 3.9375rem 3rem 9.25rem 3rem;
    background: var(
      --linear-gradient,
      linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
    );
    color: #ffffff;
    border: none;
  }
  
  .desktop1 > .price-options > .price-option > .text-medium {
    font-size: 24px;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 32px;
  }
  
  .desktop1 > .price-options > .price-option > .text-bold {
    font-size: 40px;
    font-family: "Gilroy-Bold", sans-serif;
    line-height: 48px;
  }
  
  .desktop1 > .price-options > .price-option > .options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    list-style: none;
  }
  .desktop1 > .price-options > .price-option > .options > .option {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 24px;
  }
  .desktop1 > .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .desktop1 > .buttons > button {
    display: flex;
    width: 200px;
    height: 48px;
    overflow: hidden;
    padding: 12px 24px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;
    font-family: "Gilroy-Regular", sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  
  .desktop1 > .buttons > .loginbtn {
    border: 1px solid #0065fe;
    background-color: #ffffff;
    color: #0065fe;
  }
  
  .desktop1 > .buttons > .trybtn {
    background: #0065fe;
    color: #ffffff;
  }
  .desktop11 {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 523px;
    background:
    linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
  ;
  position: relative;
  
  }
  
  .desktop11 > .img {
    position: absolute;
  }
  
  .desktop11 > .img1,
  .desktop11 > .img4 {
    left: 0;
    top: 0;
  }
  
  .desktop11 > .img3,
  .desktop11 > .img2 {
    right: 0;
    bottom: 0;
  }
  
  .desktop11 > .card {
    display: inline-flex;
    padding: 42px;
    border-radius: 12px;
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    z-index: 1;
  }
  
  .desktop11 > .card > .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  
  .desktop11 > .card > .input > input {
    display: flex;
    width: 392px;
    height: 55px;
    overflow: hidden;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid #0065FE;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  
  .desktop11 > .card > .input > input::placeholder {
    color: #3284ff;
    font-size: 12px;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 18px;
  }
  
  
  .desktop11 > .card > .input > .card-row {
    display: flex;
    width: 12.625rem;
    height: 3rem;
    gap: 12px;
    padding: 0.525rem 1.25rem;
    border-radius: 12px;
    border: 1px solid #0065FE;
    align-items: center;
    justify-content: space-between;
  }
  
  .desktop11 > .card > .input > .card-row > p {
    color:#3284ff;
    font-size: 14px;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 12px;
  }
  
  .desktop11 > .card > .input > .card-row > input {
    width: 202px;
    height: 48px;
    padding: 18px 20px;
    border-radius: 12px;
    border: 1px solid #0065FE;
    flex-direction: column;
  }
  
  .desktop11 > .card > .input > .card-row > input::placeholder {
    color:#3284ff;
    font-size: 14px;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 12px;
  }
  
  .desktop11 > .card > .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    width: 392px;
    padding: 12px 24px;
    border-radius: 100px;
    background: #005ae2;
    border: none;
    outline: none;
    color: #fff;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 12px;
  }
  
  .desktop11 > .card > .card-bottom {
    width: 373px;
    color: #4991ff;
    font-size: 14px;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 20px;
  }
  .faqs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 145px;
    position: relative;
    background-color: #ffffff;
  }
  
  .faqs > div > .faq-top {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .faqs > div > .faq-top > .faq-header {
    color: #141414;
    font-size: 40px;
    font-family: "Gilroy-Bold", sans-serif;
    line-height: 32px;
  }
  
  .faqs > div > .faq-contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .faqs > div > .faq-contain > .faq {
    display: flex;
    width: 792px;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
    gap: 16px;
  }
  .faqs > div > .faq-contain > .faq > .faq-title {
    color: #141414;
    font-size: 16px;
    font-family: "Gilroy-Medium" sans-serif;
    line-height: 32px;
  }
  
  .faqs > div > .faq-contain > .faq > img {
    width: 24px;
    height: 24px;
  }
  
  .faqs > div > .faq-contain > .line {
    margin: 0.8rem 0;
    height: 1px;
    background-color: #d6d6d6;
    align-self: stretch;
  }
  
  .img {
    position: absolute;
  }
  
  .img-left {
    left: 0;
    top: 0;
  }
  .img-right {
    right: 0;
    bottom: 0;
  }
  .revolutionizing {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 299px;
    background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  }
  
  .revolutionizing > .content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    z-index: 1;
  }
  
  .revolutionizing > .content > .revolutionizing-header {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: "Gilroy-Bold", sans-serif;
    line-height: 48px;
  }
  
  .revolutionizing > .content > .button {
    width: 200px;
    height: 48px;
    padding: 12px 24px;
    border-radius: 100px;
    background: #0065fe;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 500;
    line-height: 12px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
  }
  
  
  
  .footer-img-left {
    left: 0;
    bottom: 0;
  }
  
  .footer > .content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
  }
  
  .footer > .content > .footer-left {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  
  .footer > .content > .footer-left > .footer-left-top {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap:8px;
  }
  
  .footer > .content > .footer-left > .footer-left-bottom {
    display: flex;
    padding: 0px 8px;
    align-items: flex-start;
    gap: 24px;
  }
  
  .footer > .content > .footer-right {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  
  .footer > .content > .footer-right > .footer-right-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }